@inject IHttpContextAccessor HttpContextAccessor

@{
    var emailUsuario = HttpContextAccessor.HttpContext?.Session.GetString("UsuarioEmail");
    bool estaLogado = !string.IsNullOrEmpty(emailUsuario);
}

<ul class="navbar-nav">

    @if (estaLogado)
    {
        <li class="nav-item">
            <form method="get" action="/Logout">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/Cadastro">Cadastro</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/Login">Login</a>
        </li>
    }
</ul>
